<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<% if @post.file %>
<p>
  <%= link_to @post.file.url %>
</p>
<% end %>
<%= admin_edit_delete_link(@post) %>
<p><%= link_to 'back to forum', forum_path(@forum) %></p>
