<h2>New Forum:</h2>

<%= form_for @forum, :url => admin_forums_path do |f| %>
  <%= f.label :name, "Title" %> <br/>
  <%= f.text_field :name %> <br/>

  <%= f.label :description, "Description" %> <br/>
  <%= f.text_field :description %> <br/>
  
  <%= f.submit "Create" %>
<% end %>
