<!DOCTYPE html>
<html>
<head>
  <title>Practiceforum</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= user_status %>

<%= yield %>

</body>
</html>
